<div class="jumbotron">
  <h1>Welcome to the usage portal!</h1>
  <p class="lead">
    <img src="images/yeo.png" alt="I'm Yeoman"><br>
  </p>
  <p><a class="btn btn-lg btn-success" ui-sref="main.stats">Stats</a></p>
</div>

<div class="container">
    <div class="row">
          <h4>Information</h4>
          <p>
            This portal is for checking the usage stats for a particular data service. Please click 'Stats' for statistics for your data service.
          </p>
        <br>
        <br>
        <br>
    </div>
</div>
